body > #root > div {
  height: 100%;
  background-color: rgb(241, 242, 242);
}
pre {
  background: black;
  border: 1px solid #ddd;
  /* border-left: 3px solid #f2334c; */
  color: rgb(255, 255, 255);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  white-space: pre-wrap;
}
code[class*="language-"],
pre[class*="language-"] {
  background: black;
  color: rgb(255, 255, 255);
  text-shadow: none;
  /* white-space: pre-wrap; */
}
.header {
  background-color: rgb(44, 42, 42);
  text-align: center;
  border-color: #dee0e1 !important;
  height: 55px;
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.container {
  margin: auto;
  margin-top: 3%;
  width: 60%;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.container > .question-list {
  margin-bottom: 5%;
  background-color: white;
  /* border: 3px solid red; */
}
.card {
  border: none !important;
}
.card-title {
  font-weight: 700;
}
.card-text {
  font-size: 18px;
  font-style: italic;
}
.inptotpt {
  margin-bottom: 4%;
}
.inptotpt > p {
  margin-bottom: 0%;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
    margin-top: 3%;
    width: 100%;
    padding: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container > .question-list {
    margin-bottom: 5%;
    background-color: white;
    /* border: 3px solid red; */
  }
  .card {
    border: none !important;
    width: 100% !important;
  }
  .card-title {
    font-weight: 700;
  }
  .card-text {
    font-size: 18px;
    font-style: italic;
  }
  .inptotpt {
    margin-bottom: 4%;
  }
  .detailsinptotpt {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .detailsinptotpt > p {
    margin-bottom: 0;
  }
  .inptotpt > p {
    margin-bottom: 0%;
  }
  .question-container {
    padding: 5%;
  }
}
